.rowc{
	background:rgba(0,0,0,0.2);
	color:white !important;
}

.rowc h4, h5, p, li{
	color:white !important;
}

.wht i{
	color:white !important;
}

.top_nav_pad{
	padding-top:0px;
}

/*TemplTE SELECT OPTION */

.sm-box {
  padding: 1.5rem;
  height: 18rem;
  color: #FFF;
  background-color: #FFF;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: table;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.35);
}
.sm-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: none;
  z-index: 998;
  -webkit-transition: all 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -moz-transition: all 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.sm-box-basket {
  display: table-cell;
  position: relative;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 135px;
  z-index: 999;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.sm-box-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  width: 100%;
  color: #bb0000;
  z-index: 999;
  padding: 1rem 2rem;
  background-color: #FFF;
  line-height: 1.5;
  -webkit-transition: all 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -moz-transition: all 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.sm-box.active,
.sm-box:hover {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.35);
}
.sm-box.active .sm-box-content,
.sm-box:hover .sm-box-content {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sm-box.active .sm-box-content > i,
.sm-box:hover .sm-box-content > i {
  -webkit-animation: rotate 500ms ease;
  -moz-animation: rotate 500ms ease;
  animation: rotate 500ms ease;
}
.sm-box.active .sm-box-basket,
.sm-box:hover .sm-box-basket {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sm-box.active .sm-box-overlay,
.sm-box:hover .sm-box-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.product-box h2 {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
}
.product-box:hover h2 {
  color: #429be8;
}
.button {
  outline: none;
  border: 2px solid #FFF;
  padding: 1.2rem 2rem;
  margin-bottom: 1rem;
  width: 100%;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  vertical-align: middle;
  line-height: 18px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: #429be8;
  background-color: #FFF;
  border-radius: 2rem;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  transition: all 250ms ease;
  display: inline-block;
}
.button.active,
.button:active,
.button:focus,
.button:hover {
  text-decoration: none;
  color: #FFF;
  outline: none;
}
.button-red {
  background-color: #bb0000;
  color: #FFF;
  border-color: #bb0000;
}
.button-red.active,
.button-red:active,
.button-red:focus,
.button-red:hover {
  background-color: #690202;
  border-color: #690202;
}
.button-transparent {
  background-color: #FFF;
  color: #429be8;
  border-color: #429be8;
}
.button-transparent.active,
.button-transparent:active,
.button-transparent:focus,
.button-transparent:hover {
  background-color: #FFF;
  color: #429be8;
  border-color: #429be8;
}

/* check Online Status */

.dot {
  height: 15px;
  width: 15px;
  border:1px solid gray;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  position :relative;
  top:70px;
  left:96%;
  z-index:2000;
}

.dotp {
  height: 15px;
  width: 15px;
  border:1px solid gray;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  position :relative;
  top:15px;
  left:96%;
  z-index:5000;
}

.border_note{
	font-size:18px !important;
	padding:10px;
	border-radius: 50%;
	border:1px solid black;
}

.bg_green{
	border-radius: 50% !important;
	margin:0px !important;
	position:relative;
	top:-20px;
	right:20px;	
	
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.msg_list{
	width:300px;
}

.msg_list li{
	background: #f7f7f7;
    padding: 5px;
    display: inline-block;
    float: right;
    margin: 6px 6px 0;
    width: 96%!important;
}

.msg_list span {
    white-space: normal;
}

.msg_list li a{
	padding: 3px 5px!important;
}

ul.msg_list li a .image img {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    margin-right: 10px;
    width: 11%;
}

ul.msg_list li a .time {
    font-size: 11px;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    right: 35px;
}

ul.msg_list li a .message {
    display: block!important;
    font-size: 11px;
}

.align_nav_toggle{
	float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}